@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(rgb(0 0 0 / 60%) 0 0), url(../src/assests/1091825.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
}

h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 5rem;
    color: rgb(243, 224, 189);
}

.form {
    display: flex;
    justify-content: center;

}

.btnDiv {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.btn {
    width: 250px;
    font-size: 1.2rem;
    padding: 5px;
    border: 1px solid rgb(243, 224, 189);
    color: white;
    background: none;
    cursor: pointer;
    transition: background-color .5s;
}

.btn:hover {
    background-color: rgb(243, 224, 189);
}

.btn:active {
    transform: scale(1.1);
}

::placeholder {
    color: whitesmoke;

}

.inputText {
    margin-top: 10px;
    width: 600px;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.4rem;
    border-bottom: 3px solid rgb(243, 224, 189);

}

.info {
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

.info p {
    margin-top: 20px;
}

.commonValue {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.commonValue .fa-circle {
    font-size: 22px;
    transform: translate(10px, 25px);

}

.commonValue .fa-c {
    transform: translate(10px, 25px);
    font-size: 4rem;
}

#warmless {

    font-size: 4rem;
}

.feel {
    display: flex;
    justify-content: center;
}

.feel .fa-c {
    font-size: 2rem;
    transform: translate(10px, 25px);
}

.feel .fa-circle {
    font-size: 1rem;
    transform: translate(10px, 20px);
}